.main {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #4b6587;
  border-radius: 2px;
}

.logo {
  margin-right: 22rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
}

.logo:hover {
  color: lightgray;
}

.form {
  display: flex;
  padding-top: 0.4rem;
  padding-right: 1rem;
  margin-right: 10rem;
  height: 1.5rem;
}

.inputsearch {
  border-radius: 8rem;
  margin-right: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 6rem;
  border-style: none;
}

.search {
  background-color: #4b6587;
  font-size: 1rem;
  color: white;
  border-style: none;
  cursor: pointer;
}

.search:hover {
  color: lightgray;
}

.temporada {
  width: 6rem;
  text-align: center;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 0.6rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.order {
  width: 6rem;
  text-align: center;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 0.6rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.filter {
  width: 6rem;
  text-align: center;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-top: 0.6rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
