.main {
  display: flex;
  justify-content: space-around;
  width: 100%;

  background-color: #0d7377;
  border-radius: 2px;
  position: sticky;
  top: 0px;
}

.logo {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
}

.logo:hover {
  color: lightgray;
}

.form {
  display: flex;
  padding-top: 0.4rem;
  padding-right: 1rem;

  height: 1.5rem;
}

.inputsearch {
  width: 60%;
  border-radius: 8rem;
  margin-right: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 6rem;
  border-style: none;
}

.search {
  background-color: #0d7377;
  font-size: 1rem;
  color: white;
  border-style: none;
  cursor: pointer;
}

.search:hover {
  color: lightgray;
}

.actividad {
  color: whitesmoke;
  padding-top: 0.4rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.btn {
  margin-left: 0.5rem;
}

.actividad:hover {
  color: lightgray;
}
