.btn {
  background-color: #2b2b2b;
  color: white;
  margin: 0.1rem;
  padding: 0.4rem;
  border-radius: 9999px;
  width: 2rem;
  border: none;
}

.active {
  background-color: teal;
  color: white;
  margin: 0.1rem;
  padding: 0.4rem;
  border-radius: 9999px;
  width: 2rem;
  border: none;
}

.active:hover,
.btn:hover {
  cursor: pointer;
}
