@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");

.info {
  display: flex;
  width: 50%;
  height: 45rem;
  margin-left: 5rem;
  justify-content: center;
  margin-left: 25rem;
  padding-top: 1rem;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #303841;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn {
  color: #0d7377;
  font-size: 2rem;
  border: none;
  border-radius: 0.2rem;
  margin-right: 50rem;
  margin-top: 2rem;
}

.btn:hover {
  cursor: pointer;
  color: rgb(2, 80, 80);
}

.fotos {
  border-radius: 0.3rem;
  height: 290px;
  width: 500px;
}

.name {
  font-family: "Kaisei HarunoUmi", serif;
  color: white;
}

.area,
.capital,
.continent,
.population,
.subregion,
.id {
  font-family: "Kaisei Decol", serif;
  color: white;
}

.activities {
  display: flex;
  flex-direction: column;
}

.activities h1,
label {
  color: white;
}
